<!--
  Generated template for the PagPrincipalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar *ngFor="let dat of DatosFuncionarios"
  color="azulClaro">
    <ion-title>Bienvenido {{dat.nombre}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid *ngIf="auth.msg.length===0">
    <ion-row>
      <ion-col class="text-center caja-vacia">
        <ion-icon ios="ios-sunny" md="md-sunny" class="iconno-grande"></ion-icon>
        <p>No hay Notificaciones que mostrar</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngFor="let mensajes of auth.msg">
    <ion-item color="GrisLo">
      <h2>{{mensajes.fecha}}</h2>
    </ion-item>

    <ion-card-content>
      {{mensajes.titulo}}
      {{mensajes.mensaje}}
    </ion-card-content>

  </ion-card>

  <button ion-button (click)="auth.EliminarMensajesStorage()" color="Danger" block>Eliminar Storages</button>
</ion-content>
